.login {
  display: flex;
  height: 100vh;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-color: white;
}
.login__container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  padding: 20px;
  border: 2px solid lightgrey;
  height: fit-content;
}

.login__container > form > input {
  width: 98%;
  height: 50px;
  margin-bottom: 30px;
}

.login__button {
  width: 98%;
  color: white;
  background-color: rgb(22, 22, 123);
  margin-bottom: 30px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  height: 30px;
}
