.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(22, 22, 123);
  z-index: 10;
  border-bottom: 2px solid rgb(22, 22, 123);
}
.nav__buttons {
  display: flex;
  text-decoration: none;
}

.navbar__item {
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: aliceblue;
}
.navbar__item:hover {
  background-color: aliceblue;
  color: rgb(22, 22, 123);
  height: 80%;
}

.logo {
  width: 80px;
  padding-top: 10px;
  margin: 0%;
}
.nav__logo {
  display: flex;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
}
