.navbar {
  background-color: rgb(22, 22, 123);
  height: 40px;
  margin-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.navbar__item {
  text-align: center;
  padding: 15px;
  color: white;
}
.navbar__item:hover {
  background-color: rgb(45, 45, 175);
  max-height: 35px;
}
.navbar__item > h4 {
  text-decoration: none;
}
